@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root {
    --element-bg: #262b2e;
    --main-section-bg: #1f2427;
    --accent: #6123f6;
    --accent-hover: #6223f6b7;
    --accent-active: #6223f650;
    --text-color: white;
    --text-color-2: #3A4243;


    --icon-size: 35px;
}


html,
body {
    height: 100vh;
}

body {
    margin: 0;
    box-sizing: border-box;

    display: grid;
    grid-template: minmax(200px, 1fr) 4fr / minmax(250px, 1fr) 4fr;
    grid-template-areas:
        "nav header"
        "nav main  ";

    font-family: 'Roboto', sans-serif;
    color: var(--text-color)
}

img {
    width: var(--icon-size);
    height: var(--icon-size);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

nav {
    grid-area: nav;
    display: grid;
    align-content: start;
    gap: 30px;
    padding: 20px 0;

    background-color: var(--element-bg);
}

.nav-section>ul>li>a {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 10px 10px 0;
    padding-left: 20px;
}

.nav-item-selected {
    border-left: var(--accent) 3px solid;
}

.dashboard-logo {
    font-size: 2rem;
    font-weight: 500;
    user-select: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

header {
    grid-area: header;
    background-color: var(--main-section-bg);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    row-gap: 40px;
    padding: 20px 40px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search {
    flex: 0 1 500px;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: var(--element-bg);
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.active-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.active-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(./icon/niko.png);
    background-position: center;
    background-size: cover;
}

.profile-user-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url(./icon/niko.png);
    background-position: center;
    background-size: cover;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-container span {
    font-weight: bold;
    font-size: 2rem;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    background-color: var(--accent);
    color: var(--text-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
}

button:active{
    background-color: var(--accent-active);
}

main {
    grid-area: main;
    background-color: var(--main-section-bg);
    padding: 60px 40px;
    display: grid;
    gap: 50px;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas:
        "project announcement"
        "project trending";
}

.section-name {
    grid-column: 1 / -1;
}

.user-projects {
    grid-area: project;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
}

.project {
    background-color: var(--element-bg);
    border-radius: 30px;
    padding: 20px;

    display: grid;
    align-content: space-between;
    gap: 20px;
}

.project-icon {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.project-icon>img {
    width: calc(var(--icon-size) - 10px);
    height: calc(var(--icon-size) - 10px);
}


.project-icon>img:hover {
    cursor: pointer;
}


.announcements-section {
    grid-area: announcement;
}

.announcements {
    background-color: var(--element-bg);
    border-radius: 20px;
    padding: 30px;
    display: grid;
    gap: 20px;
}

.announcement:not(:last-child) {
    border-bottom: var(--main-section-bg) 2px solid;
}

.announcement h4 {
    margin: 0;
}

.trending-section{
    grid-area: trending;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--element-bg);
    padding: 20px 30px;
}

.trending-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.id {
    margin-bottom: 5px;
    font-weight: bolder;
}